.jumbotron.login {
  width: 26rem;
  margin: 60px auto 0;
  padding: 2rem;
}

.jumbotron.login > a {
  width: 100%;
}

.jumbotron.register {
  width: 36rem;
  margin: 60px auto 0;
  padding: 2rem;
}

.jumbotron.register > a {
  width: 100%;
}

body > .container-fluid {
  margin-top: 15px;
  height: calc(100% - 75px);
}

body > .container-fluid > .row {
  height: 100%;
}

body > .container-fluid > .row > .col-md-8 {
  border-left: 1px solid #f8f9fa;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#chat {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  margin-bottom: 20px;
}

#chat + form {
  margin-bottom: 0;
}

ul.chat-list {
  padding-left: 0;
  list-style: none
}
ul.chat-list li {
  margin-bottom: 5px;
}
ul.chat-list li span.author {
  font-weight: bold;
  display: block
}

.start-messaging {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 24px;
  text-align: center;
}