block profile
  form(action="/settings/password" method="post")
    .form-group
      label(for="password") Current Password
      input.form-control(type="password" id="password" name="password" required)

    .form-group
      label(for="passwordNew") New Password
      input.form-control(type="password" id="passwordNew" name="passwordNew" required)

    .form-group
      label(for="passwordConfirmNew") Confirm New Password
      input.form-control(type="password" id="passwordConfirmNew" name="passwordConfirmNew" required)

  button.btn.btn-primary.btn-block(type="submit") Save