block profile
  div.card(style='width: 128px; margin-bottom: 25px')
    img.card-img-top(src="https://via.placeholder.com/128.png")
  form(action="/settings/profile" method="post")
    .input-group.mb-3
      .custom-file
        input.custom-file-input(type="file" id="inputGroupFile02")
        label.custom-file-label(for="inputGroupFile02") Choose file
      .input-group-append
        span.input-group-text Upload

    .form-group
      label(for="displayName") Display Name
      input.form-control(type="text" id="displayName" name="displayName" required autofocus)

    button.btn.btn-primary.btn-block(type="submit") Save
  