block profile
  div.card(style='width: 128px; margin-bottom: 25px')
    img.card-img-top(src="https://via.placeholder.com/128.png")
  form(action="/settings" method="post")
    .input-group.mb-3
      .custom-file
        input.custom-file-input(type="file" id="inputGroupFile02")
        label.custom-file-label(for="inputGroupFile02") Choose file
      .input-group-append
        span.input-group-text Upload

    .form-group
      label(for="displayName") Display Name
      input.form-control(type="text" id="displayName" name="displayName" required autofocus)

    .form-group
      label(for="password") Current Password
      input.form-control(type="password" id="password" name="password" required)

    .form-group
      label(for="passwordNew") New Password
      input.form-control(type="password" id="passwordNew" name="passwordNew" required)

    .form-group
      label(for="passwordConfirmNew") Confirm New Password
      input.form-control(type="password" id="passwordConfirmNew" name="passwordConfirmNew" required)

  button.btn.btn-primary.btn-block(type="submit") Save