span(data-status)
#chat
  ul.chat-list
    //- li
    //-   span.author Artem
    //-   span.content Hello, world!

form(id="send" action="/sendMessage" method="post")
  .form-group
    input.form-control(type="text" id="message" name="message" placeholder="Type a message..." autocomplete="off")

script(src='/chat.js')