#chat
  ul.chat-list
    li
      span.author Artem
      span.content Hello, world!
    li
      span.author Artem
      span.content Hello, world!
    li
      span.author Artem
      span.content Hello, world!
    li
      span.author Artem
      span.content Hello, world!
    li
      span.author Artem
      span.content Hello, world!
    li
      span.author Artem
      span.content Hello, world!
    li
      span.author Artem
      span.content Hello, world!

form(action="/sendMessage" method="post")
  .form-group
    textarea.form-control(rows="5" type="message" id="message" name="message" placeholder="Type a message...")