extends layout

block content

  div(class="jumbotron login")
    form(action="/createRoom" method="post")
      h1 Create Room

      .form-group
        label(for="name") Room Name
        input.form-control(type="text" id="name" name="name" required autofocus)

      .form-check
        input.form-check-input(type="checkbox" id="isPrivate" name="isPrivate")
        label(for="isPrivate") Make this room private

      button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit