extends layout

block content

  div(class='row')
    div(class='col-lg-3 col-md-4 col-xs-12')
      div(class='panel')
        h3 Rooms
        form
          .input-group
            input.form-control(type="text" id="searchRooms" placeholder="Search for...")

        if rooms
          div(class='list-group')
            each room in rooms
              - var channelLink = "/room/" + room.id
              - var className = room.id == activeRoomId ? 'active' : ''
              a(class=`list-group-item list-group-item-action ${className}` href=channelLink) #{room.name}

    div(class='col-lg-9 col-md-8 col-xs-12')
      if activeRoomId
        include chat
      else
        div(class='start-messaging') Please select room to start messaging

  script(src='/jquery.autocomplete.min.js')
  script(src='/searchRooms.js')

block modal
  if activeRoomId
    div(class='modal fade' id='roomUsers' tabindex='-1' role='dialog' arealabelledby='roomUsersTitle' aria-hidden='true')
      div(class='modal-dialog' role='document')
        div(class='modal-content')
          div(class='modal-header')
            h5(class='modal-title' id='roomUsersTitle') Room Members
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          div(class='modal-body')
            ul
              each roomUser in roomUsers
                li
                  span !{roomUser.displayName}
                  if adminEmail
                    if roomUser.email == adminEmail
                      span.admin admin

          div(class='modal-footer')
            button(type='button' class='btn btn-secondary' data-dismiss='modal') Close
