extends layout

block content

  div(class='row')
    div(class='col-md-4 col-xs-12')
      div(class='panel')
        h3 Rooms
        if rooms
          div(class='list-group')
            each room in rooms
              - var channelLink = "/channel" + room.id
              a(class='list-group-item list-group-item-action' href=channelLink) #{room.name}

    div(class='col-md-8 col-xs-12') Start Messaging
