html
  head
    title Amazing chat
    link(rel='stylesheet' href='css/bootstrap.min.css')
  body
    div(class="container")
      include messages
    
      block content
        
  script(src="script.js")