html
  head
    title Amazing chat
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/styles.css')
  body
    include header

    div(class='container-fluid')
      include messages
      block content
        
  script(src='/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/script.js')