html
  head
    title Amazing chat
    meta(name="viewport" content="width=divice-width, initial-scale=1.0")
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/font-awesome.min.css')
    link(rel='stylesheet' href='/styles.css')
  body
    include header

    div(class='container-fluid')
      include messages
      block content
        
  block modal
        
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
  script(src='/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/socket.io.js')
  script(src='/script.js')