doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Amazing Chat Team
    style(type='text/css')
      include email.css

  body
    div.content
      block content

    div.footer
      != sender.signature
